<div >
    <div class="container">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a ui-sref="app.forms.user">创建人员表单</a></li>
            <li role="presentation"><a ui-sref="app.forms.other">更多表单项</a></li>
            <li role="presentation"><a ui-sref="app.forms.config">表单配置项</a></li>
            <li role="presentation"><a ui-sref="app.forms.license">License:声明</a></li>
        </ul>

        <div ui-view class=""></div>

    </div>

</div>


